*{
    margin: 0px 0 ;
    padding: 10px 5%;
}
body{
    box-sizing: border-box;
}


.container {
    display: grid;
    grid-gap: 5px;
    justify-content:center ;
    grid: repeat(10, 300px) / repeat(33, 30px);
  }
  
  .photo {
    background-size: cover;
  }
  
  .photo1 {
    grid-area: 1 / 1 / span 2 / span 2;
    
  }
  
  .photo2 {
      
    grid-area: 1 / 12;
    background-image: url(assets/2.jpg);
  }
  
  .photo3 {
    
    grid-area: 2 / 12;
    background-image: url(assets/3.jpg);
  }
  
  .photo4 {
    
    grid-area: 2 / 23;
    background-image: url(assets/4.jpg);
  }
  
  .photo5 {
    grid-area: 3 / 1;
    background-image: url(assets/5.jpg);
  }
  
  .photo6 {
    grid-area: 4 / 2 / span 3 / span 4;
    background-image: url(assets/6.jpg);
  }