@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;800&display=swap');

*{
    margin: 0 ;
    padding: 0;
}
body{
  font-family: 'Manrope', sans-serif;
  box-sizing: border-box;
   color: #18191F;
}





.container{
  max-width: 1100px;
  margin: 0 auto;
}
.container__img{
  
  margin-top: 50px;
  display: grid;
  grid-template-rows: 315px 315px 315px 315px;
  grid-template-columns: 367px 367px 367px  ; 
  
  grid-gap: 15px 5px;
}
.title{
  position: absolute;
  left: 24px;
  top: 32px;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  max-width: 302px;
}

.sub_title{
  position: absolute;
  left: 24px;
  top: 76px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  max-width: 302px;
}
 
.header{
  font-style: normal;
  font-weight: 800;
  font-size: 48px;
  max-width: 730px;
  margin-top: 40px;
  
}

#img1{
  grid-column: 1/3; 
  grid-row: 1/4;
}
#img2{
  grid-column: 2/3; 
  grid-row: 1/4;
}
#img3{
  grid-column: 2/3; 
  grid-row: 2/4;
}
#img4{
  grid-column: 3/3; 
  grid-row: 2/4;
}
#img5{
  grid-column: 1/3; 
  grid-row: 3/4;
}
#img6{
  grid-column: 3/3; 
  grid-row: 4/4;
}

.img_pos{
  position: relative;
  
}