@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
li{
	list-style-type: none;
}
 ul.hr {
 	padding-left: 230px;
    margin: 0; 
    width: 46px;
height: 19px;/* Обнуляем значение отступов */
   /* Значение полей */
   }
   ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 15px; /* Отступ слева */
  	padding: 3px;
  	font-family: 'Rubik', sans-serif;
  	font-size: 11px;
line-height: 19px;
color: #4F5665;

   }
  
   ul.hr2 li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 20px; /* Отступ слева */
    
     /* Поля вокруг текста */
   }
.navigation{
	overflow:hidden;
	width:100%;
}
.menu{
	padding-left: 20px;
	white-space: nowrap;
}
.menu div{
	
	
	width:100px;
	display:inline-block;
	
}
.block3{
	
	padding-left: 550px;
	
}
.img{

	position:relative;

transform:translateY(21%);
	padding-left: 30px;
	width: 90px;
	height: 25px;
	display:inline-block;
	padding-top: 20px;
	
}
.font{

	font-family: Rubik;
font-style: normal;
font-weight: 700;
font-size: 11px;

}
.signBorder{
	font-family: Rubik;
font-style: normal;
font-weight: 700;
font-size: 11px;
	padding: 10px 30px 10px 30px;
	font-size: 11px;
	color: #F53855;
	text-align: center;
	border: 1px solid #F53855;
	border-radius: 50px;
	width: 70px;
	height: 30px;
	
}
.mainImg{
	position: absolute;
	padding-left: 545px;
	width: 440px;
height: 450px;
float: left; /* Обтекание картинки по левому краю */
     /* Отступ снизу */
}
.header{
	padding-left: 50px;
	margin-top: 90px;
	font-family: Rubik;
font-style: normal;
font-weight: 500;
font-size: 35px;
line-height: 60px;
color: #0B132A;
width: 555px;
height: 140px;


}
.paragraph{
	padding-left: 50px;
	font-family: Rubik;
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 25px;
color: #4F5665;
}
.blockBtn{
	height: 140px;
}
.btn{
background: #F53838;
border-radius: 10px;
width: 170px;
height: 50px;
outline: none;
 border: 0;
 margin-left: 50px;
 color: #FFFFFF;
 box-shadow: 0px 20px 40px -5px rgba(245, 56, 56, 0.35) ;


}
